.header{
    background-image: url(Images/header.png);
    background-position: bottom;
    height: 120px;
    padding: 0 20px;
    border-bottom: 2px solid #000000;
    font-weight: bold;
}

body{
    background-color: #000000;
    background-image: url(Images/background.png)
}

#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #b4b4b4;
}

.nav{
    float: left;
    width: 150px;
    font-size: 1.15em;
    font-family: Georgia, 'Times New Roman', sans-serif;
}

.main{
    margin: 0 210px 0 160px;
    padding: 0px 10px 20px 20px;
}

footer{
    text-align: center;
    font-size: 0.75em;
}

p {
    font-family: Georgia, sans-serif;
}

h2 {
    font-weight: bold;
}

